{% extends 'stock/layout.html'%}
{%block content%}
{% if item %}
<form action="" method="post">
    {%csrf_token%}
<table width=50%>
<tr>
    <th>name</th>
    <th>{{item.name}}</th>
</tr>
<tr>
    <th>price</th>
    <th><input name="price" value="{{item.price}}" /></th>
</tr>
<tr>
    <th>type</th>
    <th>
                <select name="type" width=100%>
                  <option value="1" {%ifequal item.type 1 %}selected{% endifequal %}>Ticket</option>
                  <option value="2" {%ifequal item.type 2 %}selected{% endifequal %}>Air Pay</option>
                  <option value="3" {%ifequal item.type 3 %}selected{% endifequal %}>Food </option>
                </select>
    </th>
</tr>
    <tr><th></th><th>
        <input class="w3-btn" type="submit" value="Update"/>
        <a class="w3-btn" href="{%url 'stock:itemlist'%}"><input type="button" value="Cancel" /></a>
    </th></tr>

</table>

    <div class="form-group">
        <label class="label label-danger">ลบสินค้าออกจาก ฐานข้อมูล</label><br>
        <input type="submit" name="DELETE" class="btn btn-danger" value="ลบ {{item.name }}">
    </div>
</form>
{% else %}
ไม่พบข้อมูล
{% endif %}


{%endblock%}