{% extends 'stock/layout.html' %}
{% block content %}
{% if items %}
<div>
<form class="form" action="" method="post">
    {% csrf_token %}
    <div class="form-group col">
    {%for item in items %}
        <div class="col-xs-2">
            <label class="form-control-label">{{item.name}}</label>
            <input class="form-control form-control-lg" name="{{item.name}}" value="0" \>
        </div>
    {% endfor %}
    <input type="submit" value="Top Up">
    </div>

</form>
</div>

 resssssssssssssssssss
{% endif %}
{% endblock %}