{% extends "stock/layout.html"%}
{%block content%}
{{ user }} Welcome
{% if items %}
<table class="table table-dark">
    <tr>
        <th>name</th>
        <th>first</th>
        <th>last</th>
        <th>price</th>
        <th>sales</th>
        <th>money</th>
        <th>sum</th>
    </tr>
{% for item_name,item_first,item_last,item_price,item_sale,item_money,item_sum in items %}
    <tr>
        <th>{{item_name}}</th>
        <td>{{item_first}}</td>
        <td>
            <a href="#{{item_name}}" data-toggle="collapse" role="button"
               aria-expanded="false" aria-controls="collapse{{item_name}}">{{item_last}}</a>
            <input name="{{item_name}}" id="collapse{{item_name}}" class="collapse" />

        </td>
        <td>{{ item_price }}</td>
        <td>{{ item_sale }}</td>
        <td>{{item_money }}</td>
        <td>{{ item_sum }}</td>
    </tr>
{% endfor %}
</table>

<p>
  <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
    Link with href
  </a>
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    Button with data-target
  </button>
</p>
<div class="collapse" id="collapseExample">
  <div class="card card-body">
    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
  </div>
</div>
{% endif %}
{%endblock content%}