{% extends "stock/layout.html"%}

{%block content%}
<main role="main" class="container">
            <div class="row">
              <div class="col-md-5">
                    {% include 'stock/index_main.html' %}
              </div>
              <div class="col-md-5">
                <div class="content-section">
                    {% include 'stock/index_sidebar.html' %}
                </div>
              </div>
            </div>
          </main>
{% endblock content %}


{% block script %}
<script>
function input_manager(id_item)
{
document.getElementById('input_'+id_item).value=document.getElementById('label_'+id_item).innerHTML
document.getElementById('input_'+id_item).type="text"
document.getElementById('input_'+id_item).focus()
document.getElementById('input_'+id_item).select()
document.getElementById('label_'+id_item).type="hidden"
}
function input_change(id_item,type_call){

document.getElementById('input_'+id_item).type="hidden"
document.getElementById('label_'+id_item).innerHTML=eval(document.getElementById('input_'+id_item).value)
document.getElementById('label_'+id_item).type="label"
if(type_call=='enter'){
input_manager(eval(id_item)+1)
}
}

function submit()
{
document.getElementById('submit').type="submit"
document.getElementById('submit').click()
}
</script>
{% endblock script %}