{% extends "stock/layout.html"%}
{%block content%}
{{ user }} Welcome
{% if items %}
<table class="table">
    <tr>
        <th>name</th>
        <th>first</th>
        <th>last</th>
        <th>price</th>
        <th>sales</th>
        <th>money</th>
    </tr>
{% for item_name,item_first,item_last,item_price,item_sale,item_money in items %}
    <tr>
        <th>{{item_name}}</th>
        <td>{{item_first}}</td>
        <td>{{item_last}}</td>
        <td>{{ item_price }}</td>
        <td>{{ item_sale }}</td>
        <td>{{item_money }}</td>
    </tr>
{% endfor %}
</table>
{% endif %}
{%endblock content%}