<div class="content-group"><h1>topup list</h1></div>
{% if top_ups %}
    <table class="table" >
        {% for top_up,date_log in top_ups %}
        <tr>
            <th>{{date_log}}</th>
            {% for row_top_up in top_up %}
                {% ifequal date_log 'name' %}
                    <th>{{row_top_up}}<th>
                {% else %}
                    <td>{{row_top_up}}<td>
                {% endifequal %}
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
{% endif %}